.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
   
}
.search-button {
    background-color: #FF5A5F;
    color: #FFFFFF;
    font-size: 18px;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: opacity 0.3s ease;
    margin-left:20%;
  }

.search-button:hover {
    opacity: 0.9;
}

.locations {
    width: 25%;
    height: auto;
    padding-left: 40px;
}
.amenities {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 40px;
    justify-content: center;
    border-left: #DDDDDD solid 1px;
}

h3 {
    font-weight: 600;
    padding: 0;
    margin: 0;

}


h4 {
    font-weight: 400;
    font-size: 14px;
    padding: 0;
    margin: 0;
}
